body {
  font-family: "Exo 2", sans-serif;
  background: #efefef;
  opacity: 0;
}

body.loaded {
  opacity: 1;
}

.components {
  display: none;
}

nav {
  background: url(/img/background.svg) no-repeat center top;
  background-size: 100%;
  padding: 20px 30px;
  padding-bottom: 100px;
  margin-bottom: -80px;
}
nav hr {
  width: 30px;
  border: 0;
  border-bottom: 2px solid #ec4f77;
  opacity: 0.6;
  margin: 0 auto;
  margin-top: 20px;
}
nav img.insights-logo {
  width: 100px;
  float: left;
  margin-top: 50px;
  max-width: 20%;
}
nav .add-close {
  float: right;
  transform: rotate(45deg);
  margin-top: 50px;
}
nav .feed-title {
  text-align: center;
  color: #ec4f77;
  width: 130px;
  margin: 10px auto 0;
}
nav .profile-info .hello {
  font-size: 1.6em;
  font-weight: 200;
}
nav .profile-info {
  max-width: 50%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-style: italic;
  margin: 0 auto;
}
nav .profile-info .mail {
  opacity: 0.6;
  font-weight: 100;
}
nav .profile-info .outer-border {
  border: 2px solid #ec4f77;
  border-radius: 100px;
  width: 110px;
  display: inline-block;
}
nav .profile-info .outer-border .img {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  background-size: cover;
  padding: 10px;
  margin: 3px;
}

@media screen and (max-width: 600px) {
  nav .profile-info {
    margin-top: 20px;
  }

  nav .profile-info .outer-border {
    width: 70px;
  }

  nav .profile-info .outer-border .img {
    width: 60px;
    height: 60px;
  }
}
.show-more, .search {
  text-align: center;
}

.opacity-animation {
  opacity: 0;
  transition: opacity 300ms ease;
}

.insight {
  background: white;
  margin: 2%;
  border-radius: 5px;
  padding: 15px 10px;
  display: inline-block;
  width: 96%;
  box-shadow: 5px 5px 13px -5px #25252540;
  font-size: 0.9em;
}

.insight-list {
  width: 90%;
  margin: 0 auto;
}

.insight-list {
  columns: 3;
}

.bal {
  width: 5px;
  height: 5px;
  background: #bbbbbb;
  display: inline-block;
  border-radius: 100px;
}

.search {
  background: white;
  width: 90%;
  max-width: 300px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 13px -5px #25252540;
  font-style: italic;
  position: relative;
}

.show-more {
  cursor: default;
}

.show-more p {
  color: #7b7b7b;
  margin-top: 5px;
}

.search input {
  background: transparent;
  border: 0;
  vertical-align: middle;
  width: 100%;
  padding: 15px 10px;
}

.search img {
  vertical-align: middle;
  opacity: 0.3;
  position: absolute;
  right: 6px;
  top: 10px;
}

@media screen and (max-width: 900px) {
  .insight-list {
    columns: 2;
  }
}
@media screen and (max-width: 500px) {
  .insight-list {
    columns: 1;
    width: 95%;
  }
}
.tag-holder {
  margin-top: 15px;
  text-align: center;
}

.tag {
  font-variant: all-small-caps;
  border: 1px solid pink;
  margin: 5px;
  border-radius: 3px;
  padding: 0px 5px 4px;
  vertical-align: middle;
  color: #d84870;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
}